.background {
    background-image: url("https://i.pinimg.com/736x/11/2e/27/112e2783974da644eea0221677f7f74d.jpg");
    background-size: 1400px 750px;
  }
  div{
   padding-left:1070px
  }
  button{
    height:20px;
    width:70px;
    
  }
  button:hover{
    color:white;
    background-color: black;
  }